name: Workflow from CLI

on:
  push:
    branches:
      - master

jobs:
  general:
    runs-on: ubuntu-latest
    steps:

      name: Checkout
      uses: actions/checkout@v4

      name: Running
      run: |
        echo "Running from CLI"
